.fade-up{

opacity:0;

transform:translateY(60px);

transition:.8s ease;

}

.fade-up.show{

opacity:1;

transform:translateY(0);

}

.fade{

opacity:0;

transition:.8s;

}

.fade.show{

opacity:1;

}

.scale{

opacity:0;

transform:scale(.92);

transition:.8s;

}

.scale.show{

opacity:1;

transform:scale(1);

}