@import "./variables.css";

*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:var(--font-body);

background:var(--color-ivory);

color:var(--color-dark);

overflow-x:hidden;

}

img{

display:block;

max-width:100%;

}

button{

font-family:inherit;

}

section{

position:relative;

}

.container{

width:min(1200px,92%);

margin:auto;

}