.musicButton{

width:48px;

height:48px;

border-radius:50%;

border:none;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

font-size:22px;

background:rgba(255,255,255,.75);

backdrop-filter:blur(12px);

color:#C9A227;

transition:.35s;

}

.musicButton:hover{

transform:translateY(-4px);

box-shadow:0 10px 30px rgba(201,162,39,.25);

}